  <ul>
    <% if !@results.nil? %>
        <% @results.each do |r| %>
            <li>
              <a href=<%= r[:url] %>><%= r[:title_no_formatting] %></a>
              <%= link_to "Favorite", favorites_path(:favorite => {:title => r[:title_no_formatting], :link => r[:url]}), :class => "btn btn-success", :method => "post"%>
            </li>
        <% end %>
    <% end %>
  </ul>

