<div class="well">
  <ul>
    <li>
      <a href="http://cocktails.about.com/od/w/r/whsky_sr_cktl.htm">Whiskey Sour</a>
      <%= link_to "Favorite", favorites_path(:favorite => {:title => "Whiskey Sour", :link => "http://cocktails.about.com/od/w/r/whsky_sr_cktl.htm" }), :class => "btn btn-success", :method => "post"%>
    </li>
    <li>
      <a href="http://www.drinksmixer.com/drink2340.html">Tequila Sunrise</a>
      <%= link_to "Favorite", favorites_path(:favorite => {:title => "Tequila Sunrise", :link => "http://www.drinksmixer.com/drink2340.html" }), :class => "btn btn-success", :method => "post"%>
    </li>

  </ul>
</div>

