<div>
  <ul>
    <li>
      <a href="http://cocktails.about.com/od/w/r/whsky_sr_cktl.htm">Whiskey Sour</a>
      <button class="btn btn-small btn-success" type="button">Favorite</button>
    </li>
    <li>
      <a href="http://www.drinksmixer.com/drink2340.html">Tequila Sunrise</a>
      <button class="btn btn-small btn-success" type="button">Favorite</button>
    </li>
    <li>
      <a href="http://cocktails.about.com/od/atozcocktailrecipes/r/gin_ntnc_cktl.htm">Gin & Tonic</a>
      <button class="btn btn-small btn-success" type="button">Favorite</button>
    </li>
  </ul>
</div>
