<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  An example site produced while learning Ruby on Rails for Introduction to Software Engineering (96-821).
</p>
<p>
  Drinks on Hand provides a simple search and keep service for mixed drink recipes.
</p>