<% provide(:title, 'Help') %>

<h1>Help</h1>
<ol>
  <li>Type the names of ingredients you have on hand. Pressing Enter or clicking 'Add' will add them to your pool.</li>
  <li>A Google search will run with your ingredient pool as a query, and the results are displayed below the pool.</li>
  <li>Click the Favorite button to save the recipe for late (you will need to sign up for an account).</li>
</ol>

