@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1{
    margin-bottom: 10px
  }
}
/* header */

header {
  #logo {
    float: left;
    font-size: 1.8em;
    margin-right: 10px;
    padding-top: 10px;
    font-weight: bold;
    padding-left: 10px;
    color: #000000;
  }
}

/* home */
#ingredient_search{
  margin-left: auto;
  margin-right: auto;
}

/* footer */
$lightGray: #999;
$gray: #555;
$darkGray: #222;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: $gray;
    &:hover {
      color: $darkGray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  nav {
    margin-left: auto;
    margin-right: auto;
  }
}

