<!-- #As used in Michael Hartl's Ruby on Rails Tutorial -->
<footer class="footer">
  <small>
      Drinks on Hand, by Brandon Gannicott
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Account", account_path %></li>
      <li><%= link_to "Favorites", favorites_path %></li>
    </ul>
  </nav>
</footer>