<!-- #As used in Michael Hartl's Ruby on Rails Tutorial -->
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <%= link_to "Drinks on Hand", root_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Help",     help_path %></li>
        <li><%= link_to "About",  new_user_session_path %></li>
        <li><%= link_to "Account", edit_user_registration_path%></li>
      </ul>
    </nav>
  </div>
</header>
